<title>Recompensas ativas</title>
<script>
  function ClickBotao() {
    document.getElementById("mybutton").click();
  }
</script>

<body onload={{modal}}>
  <div class="container mt-5">
    <div class="row justify-content-between">
      <div class="col-md-8">
        <h4>Recompensas para resgatar</h4>
      </div>
      <div class="col-md-1">
        <a href="javascript:history.back()" class="btn btn-outline-secondary">voltar</a>
      </div>
    </div>

    {{#if recompensas}}
    <div class="row">
      {{#each recompensas}}
      <div class="col-md-4">
        <form action='/resgatar/{{id}}' method="post">
          <div class="card" style="width: 18rem; margin-top: 15px;">

            <div class="card-body">
              <img class="card-img-top img-centro" src="/img/recompensas/{{nome}}.png" alt="Imagem recompensa">
              <h4 class="card-title">{{nomeRecomp nome}}</h4>
              <p class="card-text">Pontos para resgatar: {{valor}}</p>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Resgatar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      {{/each}}
    </div>
    {{else}}
    <div class="alert alert-danger mt-3" role="alert">
      Não há recompensas disponíveis no momento!
    </div>
    {{/if}}
  </div>

  <!-- Button trigger modal -->
  <button hidden="true" id="mybutton" type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          {{msg}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</body>