<title>{{titulo}}</title>
<script>
function ClickBotao(){
document.getElementById("mybutton").click();
}
</script>
<body onload={{modal}}>
    <div class="container">
    <div class="card-login">
        <div class="card shadow" style="margin: 0 auto;">
            <div class="d-flex justify-content-center">
                <img src="/img/user2.png" class="usuario" width="100" width="100" alt="">
            </div>
           
            <div class="card-body" style="padding: 30px 100px 20px 100px;">
                <h6 class="alerta">{{message}}</h6>
                <form action='/login' method="post">
                    <div class="mt-3">
                        <input value="{{login.email}}"  name="email" id="email" class="form-control" type="email" placeholder="E-mail">
                    </div>
                    <div class="mt-3">
                        <input value="{{login.senha}}"  name="senha" id="senha" class="form-control" type="password" placeholder="Senha">
                    </div>
                    <div class="">
                        <a href="/esqueci_senha">Esqueci minha senha</a>
                    </div>
                     <span class="alert-danger">{{printError errors 'cpf'}}</span>
                    <div class="mt-3 d-flex justify-content-center">
                        <button class="btn btn-outline-success" type="submit" style="width:150px;">Entrar</button>
                    </div>
                </form>
            </div>
           
        </div>
        <div class="mt-4 text-center">
            <a href="/cadastro">Não tenho cadastro</a>
        </div>
    </div>
</div>
</body>

<!-- Button trigger modal -->
<button hidden="true" id="mybutton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sua senha foi redefinida!</h5>
      </div>
      <div class="modal-body">
        Realize o login com sua nova senha.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>