<title>{{titulo}}</title>
<br/>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Meu perfil <i class="fas fa-user"></i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Minhas doações <i class="fas fa-hand-holding-medical"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Centros de doação <i class="fas fa-hospital-alt"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Campanhas <i class="fas fa-first-aid"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Recompensas Ativas <i class="fas fa-trophy"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Editar perfil <i class="fas fa-user-edit"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sair <i class="fas fa-sign-out-alt"></i></a>
            </li>
            </ul>
        </div>
    </nav>
    <hr/>
            <div class="container">    
                <div class="jumbotron">
                  <div class="row">
                      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                          <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img">
                      </div>
                      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                          <div class="container" >
                            <h4> Bem vindo(a) {{nome}} {{sobrenome}}</h4>
                          </div>
                            <hr>
                          <ul class="container details">
                            <li class="itemPropaganda"><p></span><i class="fas fa-tint"></i> Tipo Sanguíneo: {{tipoSanguineo}}</p></li>
                            <li class="itemPropaganda"><p></span><i class="fas fa-coins"></i> Pontuação: {{pontuacao}}</p></li>
                          </ul>
                      </div>
                  </div>
                </div>
        
    </div>
    <img src="">
</div>