<title>Estoque atualizado</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script>
    function ClickBotao() {
        document.getElementById("mybutton").click();
    }
</script>

<body onload={{modal}}>
    <div class="container">
        <br />
        <h3 class="text-center">{{nome_centro}}</h3>
        <hr>

        <img class="img-centro" src="/img/centros/{{nome_centro}}.png" alt="{{nome_centro}}">
        <br />
        <h4 class="text-center">Estoque Atualizado:</h4>
        <hr>
        <br />
        <div class="row">
            {{#each estoques}}

            <div class="col-sm-3">
                <strong>
                    <p class="text-estoque">Tipo: {{getNomeSangue id_sangue @root.sanguineos}}</p>
                </strong>
                <div class="col-sm">
                    <img class="img-estoque" src="/img/estoque/{{quantidade}}.png">
                </div>
                <p class="text-center" class="text-center">Nível: {{quantidade}}</p>
            </div>
            {{/each}}
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="/admin/estoques/index" class="btn btn-outline-danger">Voltar</a>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button hidden="true" id="mybutton" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Estoque atualizado!</h5>
                </div>
                <div class="modal-body">
                    O estoque foi atualizado com sucesso! Confira abaixo as mudanças realizadas.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</body>