<title>{{titulo}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="container">
    <br />
    <h3 class="text-center">{{nome_centro}}</h3>
    <hr>

    <img class="img-centro" src="/img/centros/{{nome_centro}}.png" alt="{{nome_centro}}">
    <br />
    <h4 class="text-center">Estoque de Sangue:</h4>
    <hr>
    <br />
    <div class="row">
        {{#each estoques}}
        <div class="estoque col-sm-3">

            <h><strong>Tipo: {{getNomeSangue id_sangue @root.sanguineos}}</strong></h>
            <div class="progress caixa-sangue">
                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar"
                    style="{{nivelSangue quantidade}}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h><strong class="font-weight-bold">Nível: {{quantidade}}</strong></h>
        </div>
        {{/each}}
    </div>
</div>