<title>{{titulo}}</title>

<!doctype html>
<html lang="pt-br">

<body>
  <main role="main">
    <br />
    <div class="container text-center">
      <h1 class="jumbotron-heading color-sanguessuga">Centros de Doação</h1>
      <p class="lead text-muted">Visualize o banco de sangue dos centros e agende sua doação.</p>
      <div class="row justify-content-between">
            <div class="col-md-8">
            </div>
            <div class="col-md-1">
                <a href="javascript:history.back()" class="btn btn-outline-secondary">voltar</a>
            </div>
        </div>
    </div>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-md-3 g-4">
          {{#each centros}}
          <div class="col">
            <div class="card h-100 shadow-sm">
              {{#if vampirao }}
              <h5 class="text-center">Vampirão</h5>
              {{else}}
              <img src="/img/centros/{{nome}}.png"
                class="card-img-top" alt="...">
              {{/if}}
              <div class="card-body">
                <h5 class="card-title"><strong>{{nome}}</strong></h5>
                <p class="card-text">Endereço: {{endereco}}</p>
                <p class="card-text">Telefone: {{telefone}}</p>
              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-between align-items-center">
                  {{#if vampirao}}
                  {{else}}
                  <div class="btn-group">
                    <a type="button" href="../centros/{{id}}/agendar" class="btn btn-sm btn-outline-primary">Agendar
                      doação</a>
                    <a type="button" href="../centros/{{id}}" class="btn btn-sm btn-outline-primary">Banco de Sangue</a>
                  </div>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </main>